@import "tailwindcss";


:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.animate-on-scroll {
  transition: all 0.5s ease-out;
}

/* Custom scrollbar styles */
/* For WebKit browsers like Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Darker semi-transparent thumb */
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 2, 2, 0.699) rgba(0, 0, 0, 0.021); /* Thumb and track colors */
}
